#div1 {
  background-image: url("https://images.unsplash.com/photo-1682686581660-3693f0c588d2?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 300px;
  width: 200px;
  margin: 20px;
}

#div2 {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
  height: 300px;
  width: 200px;
  margin: 20px;
}

#div3 {
  background-image: url("https://picsum.photos/200/300?grayscale");
  height: 300px;
  width: 200px;
  margin: 20px;
}

#div4 {
  background-image: url("https://picsum.photos/200/300/");
  height: 300px;
  width: 200px;
  margin: 20px;
}

#div5 {
  background-image: url("https://picsum.photos/200/300.jpg");
  height: 300px;
  width: 200px;
  margin: 20px;
}

#div6 {
  background-image: url("https://picsum.photos/id/102/200/300");
  height: 300px;
  width: 200px;
  margin: 20px;
}

div.container {
  border: 5px solid #555;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
}

button {
  margin: 20px;
}
